<html>
  <head>
    <meta charset="utf-8"/>
    <title>homework</title>
    <link rel="icon" href="{{url_for('static', filename='img/icon.png')}}">

    <script src="{{url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}" rel="stylesheet">

    <link href="{{url_for('static', filename='css/base.css')}}" rel="stylesheet">

    {% block link %}{% endblock %}

  </head>
  <body>
    <!-- 顶部-->
    <div class="base-header ">
      <nav>
        <ol class="breadcrumb">
          <li>Blog</li>
          <li class="active"><a href="{{url_for('index')}}">主页</a></li>
        </ol>
      </nav>

      <header>
        <div class="col-sm-offset-2">
          <h1>Blog-Flask</h1>
          <small>to be continued</small>
        </div>
      </header>
    </div>
    <!-- 顶部-->



    <div class="container holder ">
    <div class="col-sm-8">
    {% block content %}{% endblock %}
    </div>
    </div>
  </body>
</html>