{% extends "base-blog.html" %}

<!-- link -->
{% block link %}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
{% endblock %}
<!-- end link -->

<!-- content -->
{% block blog%}

        <div class="col-sm-8 blog-main">
          {% for blog in blogs%}
          <div class="blog-post">
            <h2 class="blog-post-title">{{ blog[1] }}</h2>
            <p class="blog-post-meta">{{ blog[3] }} by <a href="#">AminHuang</a></p>
            <div>{{ blog[2] }}</div>
            <a href="{{url_for('blog',titleId=blog[0])}}" class="btn btn-primary">阅读全文</a>
            
          </div><!-- /.blog-post -->
          {% endfor %}

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->




{% endblock %}
<!-- end content -->